<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  
  <body>
      <div id="header">

		  <!-- TOP NAV MENU  -->
		   <nav>
			   <!--CLASS TITLE 
			   float: right; margin-right: 10px; font-size: 11px;
			    -->		    
	<li class="fork"><a href="acerca">Acerca de</a> </li>
	
<!--CLASS DOWNLOADS
				float: right; margin-left: 6px;
			    -->
	
    <li class="downloads"><a href="radio">Radio</a></li>
    
    <li class="downloads"><a href="docus">Documentos</a></li>
	
			   <!--CLASS FORK
			   float: left; margin-left: 0px;
			   
			    --> 
        </nav>
        
      </div><!-- end header -->

    <div class="wrapper">

      <section>
		  
        <div id="title">
   <a href="/silente" title="Inicio"><h1>{{ site.title }}</h1></a>
 <!--          <p>{{ site.description}}</p>

          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          -->
          <hr>
       
        </div>

        {{ content }}

      </section>
      <hr>
   <span class="credits left">adaptado por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> desde <span class="credits right"> <a href="https://github.com/pages-themes/midnight">Midnight</a></span>
    </div>

  </body>
</html>
